import { FC } from 'react';

import styles from './{{pascalCase name}}.module.scss';

interface {{pascalCase name}}Props {}

const {{pascalCase name}}: FC<{{pascalCase name}}Props> = () => {
  console.log('{{pascalCase name}}');

  return (
    <div className={styles.root}>
      <div>{{pascalCase name}}</div>
    </div>
  );
};

export default {{pascalCase name}};
